.active{
    color: red;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

html{
    font-size: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 10rem;
}

main h2{
    font-size: 3rem;
    font-family: sans-serif;
    margin-bottom: 4.8rem;
}

.icons{
    color: lightseagreen;
}

/* navbar styling */

nav{
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid whitesmoke;
}

nav a{
    font-size: 1.3rem;
    font-family: 'Lexend Deca', sans-serif;
    color: #ccc;
    border-bottom: .3rem solid transparent;
}
nav a:hover{
    border-color: #3A3845;
}

nav a.active{
    color: #000;
    border-color: #29d6bc;
}

/* form styling addtodo */

form input{
    border: .1rem solid #000;
    border-radius: .3rem;
    width: 22rem;
    margin: 4rem 0;
    user-zoom: none;
    padding: .7rem 1rem;
    font-size: 1rem;
    /* letter-spacing: 0.6rem; */
    /* font-weight: bold; */
    
}

form button{
    padding: .8rem 2.9rem;
    border: none;
    border-radius: .3rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1rem;
    background-color: #29d6bc;
    color: #fff;

    
}

/* todo task list */

label{
    font-size: 1.5rem;
    letter-spacing: .06rem;
    color: black;
    
}

ul li {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 20rem;
    min-height: 3rem;
    border-bottom: .1rem solid #ccc;
}

ul li:first-child{
    border-top: .1rem solid #ccc;
}

ul li:hover{
    background-color: #fef2f2;
}

ul li input[type="checkbox"]:checked * label  {
    text-decoration: line-through;
    color: #D14D72;
}

ul li button{
    padding: .6rem 1rem;
    width: 7rem;
    background-color: #D14D72;
    color: #fff9f9;
    border: none;
    display: inline-block;
    cursor: pointer;
    justify-self: center;
    letter-spacing: .1rem;
    border-radius: 5px;
    font-weight: bold;

}